body {
    text-rendering: optimizeLegibility;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    font-size: 1.3em;
    width: 80vw;
    margin: 2em auto;
    background-color: #111518;
    color: #f1f5fb;
    font-family: "Fira Sans", "Helvetica Neue", sans-serif;
}

header, nav {
    text-transform: lowercase;
}

header, nav, article.content {
    grid-column: span 12;
    padding: 0.1em 1em;
}

article.content .copy {
    margin: 1em 0.1em;
}

header .title {
    font-size: 2em;
    margin-left: -0.175em;
}

nav .navlinks, .pub-extras p {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}

a, nav a, nav a:hover, a.title:hover, .section-head a:hover {
    text-decoration: none;
}

a, a:link, a.title:hover {
    color: #ffc048;
}

nav a, nav a:link, nav a:hover, .pub-title a, .pub-title a:link, .pub-title a:hover {
    color: #cd84f1;
}

a::before, a::after {
    opacity: 0;
}

nav a::before, a.title::before, .section-head a::before {
    content: "(";
    margin-left: -0.15em;
}

nav a::after, a.title::after, .section-head a::after {
    content: ")";
    margin-right: -0.15em;
}

a:hover {
    text-decoration: underline;
}

nav a:hover::before, nav a:hover::after, a.title:hover::before, a.title:hover::after, .section-head a:hover::before, .section-head a:hover::after {
    opacity: 1;
}

.archive-rss a::before, .archive-rss a::after {
    content: "";
    margin: inherit 0;
}

.content .about-me {
    text-transform: lowercase;
    line-height: 1.25;
}

.content > *:not(section:first-child) {
    margin-top: 2em;
}

section .section-head {
    text-transform: lowercase;
    font-size: 1.5em;
    margin-left: -0.175em;
}

.pubs, .posts {
    list-style: none;
    padding: 0;
}

.pub {
    text-align: left;
    word-spacing: .05em;
    margin-bottom: 1.5em;
}

.pub .pub-extras p {
    margin: 0;
}

.section-head {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template: "title date";
}

.section-head.archive-head {
    grid-template: "title rss";
}

.post {
    margin: 1.5em 0;
    display: grid;
    grid-template: "date" "title";
}

.post:first-child {
    margin-top: 0;
}

.post-title, .archive-title {
    grid-area: title;
    justify-self: left;
    color: #ffc048;
}

.post-date {
    grid-area: date;
    justify-self: right;
    color: #ffc048;
}

.post-desc {
    grid-column: span 2;
    padding: 0.2em 0;
}

.post-title, .post-date, .post-desc {
    text-transform: lowercase;
}

.archive-rss {
    grid-area: rss;
    justify-self: right;
}

.archive-rss img {
    height: 1em;
    width: 1em !important;
}

.content figure, .content .center {
    text-align: center;
}

.content pre, .content code {
    font-family: "Fira Code", "Fira Mono", monospace;
}

.content pre, .content div.sourceCode {
    font-size: 0.9em;
    text-align: left;
}

.content pre {
    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    background-color: #d2dae2;
    padding: 1em;
    border-radius: 0.2em;
    overflow: auto;
    overflow-y: hidden;
}

.content .sourceCode a.sourceLine, .content .sourceCode a:visited.sourceLine {
    color: #1e272e;
}

.content .sourceCode a:hover.sourceLine {
    text-decoration: none;
}

pre code.sourceCode {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #1e272e;
    background-color: #d2dae2;
    border-radius: 4px;
}

pre code, code.sourceCode {
    color: #1e272e;
    background-color: #d2dae2;
}

sup.footnote-ref {
    left: 0.1em;
}

hr {
    border: 0;
    border-top: 2px solid #cd84f1;
    width: 100%;
}

.copy h1 {
    font-size: 1.5em;
    color: #ffc048;
    font-weight: normal;
    text-transform: lowercase;
}

.content img {
    width: 100%;
}

.content .copy {
    line-height: 1.45;
}

.content .copy p {
    text-align: justify;
}

.content .copy .blurb, .copy figcaption {
    font-size: 0.9em;
}

.copy blockquote {
    border-left: 0.25em solid #cd84f1;
    margin: 0.5em 0 0.5em 0;
    padding: 0 2em;
    font-style: italic;
}

.copy blockquote cite::before {
    content: '\2014 ';
}

.copy blockquote cite {
    display: block;
    margin-top: -0.5em;
    text-align: right;
    font-style: normal;
}

.copy ul {
    list-style: none;
    padding-left: 2.2em;
}

.copy ul li::before {
    font-family: Helvetica !important;
    content: '\2605';
    color: #ffc048;
    margin-left: -1.5em;
    margin-right: 0.5em;
    font-size: 0.8em;
    font-style: normal;
}

.copy ul.posts {
    list-style: unset;
    padding-left: unset;
}

.copy ul li.post::before {
    content: unset;
}

.copy blockquote ol:not(:first-child), .copy blockquote ul:not(:first-child) {
    margin-top: -0.5em;
}

.copy .footnote-back {
    padding-left: 0.3em;
}

@media (min-width: 700px) {
    .post {
        grid-template-columns: 1fr 1fr;
        grid-template: "title date";
    }
}
