@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700');

body, html {
    background: white;
    font-size: 16px;
}

.header {
    margin: 1em 0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

@media (min-width: 768px) {
    .header {
        margin: 1em;
    }
}

.title {
    font-size: 1.6em;
    line-height: 1em;
}

.links {
    font-size: 1em;
}

.links span {
    margin: 0 0.3em;
}

.title a:hover {
    text-decoration: none;
}

.wet-asphalt, .wet-asphalt a, .wet-asphalt a:visited {
    color: #2c3e50
}

.wet-asphalt a:hover {
    color: #34495e;
}

.emerald, .emerald a, .emerald a:visited {
    color: #27ae60;
}

.emerald a:hover, .amethyst a:hover .emerald {
    color: #2ecc71;
}

.amethyst, .amethyst a, .amethyst a:visited {
    color: #8e44ad;
}

.amethyst a:hover {
    color: #9b59b6;
}

.caption, .center {
    text-align: center;
}

.content {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: justify;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    margin-bottom: 2em;
}

.content b {
    font-weight: 700;
}

.content p {
    margin: 1.25em 0;
}

.content ul {
    margin-top: -1em;
}

.content img {
    width: 100%;
}

.content hr {
    border-color: #000;
}

.post {
    margin: 1.5em 0;
}

.post-desc {
    margin-top: 0.25em;
}

.post-list {
    margin-top: 2em;
}

.post-info .post-title, .post-info .post-date {
    font-size: 1.2em;
}

.icon-comment {
    position: relative;
    top: -0.1em;
}

p {
    line-height: 1.4em;
    letter-spacing: 0.01em;
}

@media (min-width: 400px) {
    p {
        line-height: 1.5em;
    }

    .content {
        margin-top: 1em;
        padding: 0 4em;
    }
}

@media (min-width: 700px) {
    p {
        line-height: 1.6em;
    }

    .content {
        padding: 0 6em;
    }
}

@media (min-width: 900px) {
    p {
        line-height: 1.7em;
    }
}
