body, html {
    background: white;
    font-size: 15px;
}

.header {
    margin: 1em 0;
}

@media (min-width: 768px) {
    .header {
        margin: 1em;
    }
}

.title {
    font-size: 1.6em;
    line-height: 1em;
}

.shield {
    margin-top: -0.1em;
    height: 1.3em;
}

.links {
    font-size: 1em;
}

.links span {
    margin: 0 0.3em;
}

.title a:hover {
    text-decoration: none;
}

.wet-asphalt, .wet-asphalt a, .wet-asphalt a:visited {
    color: #2c3e50;
}

.wet-asphalt a:hover {
    color: #34495e;
}

.umass-maroon, .umass-maroon a, .umass-maroon a:visited {
    color: #881c1c;
}

.umass-maroon a:hover {
    color: #A23636;
}

.caption, .center {
    text-align: center;
}

.body {
    margin-top: -0.2em;
}

.content {
    text-align: justify;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    margin-bottom: 1em;
}

.content p {
    margin: 1.25em 0;
}

.content ul {
    margin-top: -1em;
}

.content img {
    width: 100%;
}

.content hr {
    border-color: #000;
}

.post {
    margin: 1.5em 0;
}

.post-desc {
    margin-top: 0.25em;
}

.post-list {
    margin-top: 2em;
}

.post-info .post-title, .post-info .post-date {
    font-size: 1.2em;
}

.icon-comment {
    position: relative;
    top: -0.1em;
}

p {
    line-height: 1.4em;
}

@media (min-width: 400px) {
    p {
        line-height: 1.5em;
    }

    .content {
        margin-top: 1em;
        padding: 0 3em;
    }
}

@media (min-width: 700px) {
    p {
        line-height: 1.6em;
    }
}

@media (min-width: 900px) {
    p {
        line-height: 1.7em;
    }
}
