{% set title = "archive" %}
{% extends 'article.njk' %}

{% block article %}
  <div class="section-head archive-head">
    <div class="archive-title">Archive</div>
    <div class="archive-rss">
      <a href="/feed.xml"><img src="/images/rss.svg" alt="RSS Icon by David Gandy of FlatIcon.com"></a>
    </div>
  </div>
  <div class="section-body">
    <ul class="posts">
      {% include 'post-list.njk' %}
    </ul>
  </div>
{% endblock %}
