<p>I write things sometimes! This place used to be a mess of pretty low quality content, but now I'm
  trying to produce better posts about programming languages, academia, and occasionally politics.
  Updates will probably still be sporadic, but hopefully a lot better!</p>
<div class="section-head archive-head">
  <div class="archive-title">Archive</div>
  <div class="archive-rss">
    <a href="./rss.xml"><img src="./images/rss.svg" alt="RSS Icon by David Gandy of FlatIcon.com"></a>
  </div>
</div>
<div class="section-body">
  <ul class="posts">
    $partial("templates/post-list.html")$
  </ul>
</div>
